# Created by .ignore support plugin (hsz.mobi)
# Eclipse
.classpath
.project
.settings/
/.gitignore
# Intellij
dump.rdb

.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
**/log/
**/target
**/*.log
**/tmp
**/.tmp
**/bin/**
### Example user template template
### Example user template
designpattern.iml
target/
